<main>
  <h2>{{book.name}}</h2>
  <ul>
    <a href="/">Home</a>
    <h3>{{book.title}}</h3>
    <a>{{book.genre}}</a>
    <a>{{book.description}}</a>
    <img src="{{book.coverURL}}" alt="frog" />
  </ul>
</main>
