<header class="mainHeader">
  <img src="/images/readslogo.png" height="75px" width="75px" alt="gReads logo">
  <a href="/">
    <h1>Galvanize Reads</h1>
  </a>
</header>
<nav class="headerButtons">
  <div class="authorsButton">
      <img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/python_in_a_nutshell.jpg" height="75px">
    <a href="/authors">
      <h2>Authors</h2>
    </a>
  </div>
  <div class="booksButton">
    <img src="https://s3-us-west-2.amazonaws.com/assessment-images/galvanize_reads/photos/alex_martelli.jpg" height="75px">
    <a href="/books">
        <h2>Books</h2>
    </a>
  </div>
<main class="editForm">
  <h2>Edit an Author</h2>
  <form action="/{{author.id}}/editAuthor" method="post">
    <label for="first_name">First Name</label>
    <input type="text" name="first_name" value="{{author.first_name}}">
    <label for="last_name">Last Name</label>
    <input type="text" name="last_name" value="{{author.last_name}}">
    <label for="biography">Biography</label>
    <textarea name="biography">{{author.biography}}</textarea>
    <label for="portraitURL">Portrait URL</label>
    <input type="url" name="portraitURL"  value="{{author.portraitURL}}">
    <button type="submit">Edit {{author.first_name}} {{author.last_name}}?</button>
  </form>
</main>
