<head>
  <link href='https://fonts.googleapis.com/css?family=Taviraj:500' rel='stylesheet' type='text/css'>
</head>

<header>
  <img src="../public/images/readslogo.jpg" height="75px" width="75px" alt="gReads logo">
  <h1>{{title}}</h1>
</header>

<ul>
  {{#each bookList}}
    <li>
      <a href="/{{this.id}}">{{this.title}}</a>
      <img class="bookCover" src="{{this.coverURL}}" alt="Cover URL">
      <a>{{this.genre}}</a>
      <a>{{this.description}}</a>
      <a>{{this.coverURL}}</a>      <a href="/{{this.id}}/edit">Edit this Book</a>
      <a href="/{{this.id}}/delete">Delete this Book?</a>
    </li>
  {{/each}}
</ul>

<a href="/add">Add a Book!</a>

<!-- <footer></footer> -->
